# Java / Spring Boot
*.class
*.log
*.jar
*.war
*.ear
.gradle/
build/
target/
bin/
.apt_generated/
.mvn/
mvnw
mvnw.cmd



# Node / React / Vite
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db